
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
#root{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-100);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mainTitle{
    color: var(--primary);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.subTitle{
    color: var(--text-secundary);
    text-align: center;
}

input, textarea{
    background-color: var(--gray-100);
    border: 1px solid var(--gray-200);
    border-radius: .5rem;
    padding: .5rem 1rem;
  }
  