.contactList{
  font-size: 1.6rem;
}

.contactList h1{
  font-size: 2.4rem;
}

.contactList h1 i{
  color: var(--primary);
}

.contactList h2{
  font-size: 2rem;
}

.contactList > form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.nameAndNumberContainer{
  display: flex;
  gap: 1.5rem;
}

.button{
  background-color: var(--gray-100);
  border: 1px solid var(--gray-200);
  padding: 1.5rem;
  width: 100%;
  border-radius: .5rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  gap: .5rem;
  transition: background-color .5s;
}

.button:hover{
  background-color: var(--gray-200);
}

.contactsContainer{
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
.pageNumber:focus{
  outline: none;
  border-bottom: .4rem solid var(--primary);
}
.pageNumber{
  -moz-appearance: textfield;
  appearance: textfield;
  width: 5rem;
  padding: 0;
  border: none;
  background-color: var(--white);
  border-radius: 0;
  border-bottom: .2rem solid var(--gray-500);
  font-size: 2.0rem;
  text-align: center;
  transition: border-bottom .1s;
}
.pageArrow{
  font-size: 2.4rem;
  cursor: pointer;
  transition: color .3s;
}
.pageArrow:hover{
  color: var(--primary);
}
.searchContainer{
  padding: 15px 0;
  justify-content: space-between;
}

.searchContainer input{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  margin: 0;
}
.searchContainer input:focus{
  outline: none;
}

.searchContainer button{
  border: none;
  height: 100%;
  padding: 1.1rem;
  border: 1px solid var(--gray-200);
  background-color: var(--gray-300);
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  transition: background-color .3s;
}
.searchContainer button:hover{
  background-color: var(--gray-400);
}